# Don't upload any audio files
*.webm
*.m4a
*.mp3
*.mp4
*.mkv

# Don't upload twitch screenshots bc they are bad
*.jpg

# Don't upload any members stuff
*members*

# Faster-whisper
.cache
_models
_xxl_data
*.exe