# Don't upload any audio files
*.webm
*.m4a
*.mp3
*.mp4
*.mkv

# ytdlp temp files
*.part
*.part-Frag*
*.ytdl

# python
.venv

# Don't upload any members stuff
*members*

# Faster-whisper
.cache
_models
_xxl_data
*.exe
*.bat