# Don't upload any audio files
*.webm
*.m4a
*.mp3
*.mp4
*.mkv

# ytdlp temp files
*.part
*.part-Frag*
*.ytdl

# python
.venv

config.yaml

# Don't upload any members stuff
*members*
# except for the archive file
!yt-dlp-archive-members.txt

# Faster-whisper
.cache
_models
_xxl_data
*.exe
*.bat